@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{display: block;}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

header {
    padding: 2rem 0;
    text-align: center;
    background-color: beige;
}

header a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

header a:hover,
header h1:hover {
    filter: drop-shadow(0 0 0.25rem white);
}

.listContainer {
    background-color: bisque;
    padding: 6rem;
}

.listBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    margin:auto;
    padding:1rem 0;
    background-color: blueviolet;
    border-radius: 1rem;
}

.listItem {
    display: grid;
    grid-template-rows: 2rem 0fr;
    transition: all 0.2s;
}

.listItem:hover {
    grid-template-rows: 2rem 1fr;
}

.itemInfo {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: lightgreen;
}

.id {
    font-weight: 700;
    width: 5ch;
    padding-right: 1ch;
    display: flex;
    justify-content: right;
}

.name {
    width: 12rem;
}

.user {
    width: 12rem;
}

.email {
    width: 16rem;
}

.title {
    width: 13rem;
    white-space: nowrap;
}

.itemExtended {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightgrey;
    margin-bottom: 0.33rem;
    height: 25rem;
  /*  overflow: hidden; */
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.left img {
    border-radius: 50%;
    width: 75%;
    filter: drop-shadow(0 0 0.1rem black);
    background-color: var(--imgColor)
}

.left img[data-color="green"] {
    --imgColor: lightgreen;
}
.left img[data-color="yellow"] {
    --imgColor: lightyellow;
}
.left img[data-color="blue"] {
    --imgColor: lightskyblue;
}
.left img[data-color="red"] {
    --imgColor: lightcoral;
}

.left h2 {
    font-size: 2.25rem;
    text-align: center;
}

.left span {
    display: block;
}

.left h3 {
    font-family: 'Diphylleia', serif;
}