@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{display: block;}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

header {
    padding: 2rem 0;
    text-align: center;
    background-color: beige;
}

header a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

header a:hover,
header h1:hover {
    filter: drop-shadow(0 0 0.25rem white);
}

.listContainer {
    background-color: bisque;
    padding: 6rem;
}

.listBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin:auto;
    padding:1rem 0;
    background-color: blueviolet;
}

.listItem {
    display: flex;
    padding: 0.5rem 1rem;
    margin:0.25rem 0;
    border-radius: 0.25rem;
    background-color: blue;
}

.gender {
    background-color: aliceblue;
    width: 6rem;
}

.name {
    width: 12rem;
}

.user {
    width: 12rem;
}

.email {
    width: 16rem;
}

.title {
    width: 13rem;
    white-space: nowrap;
}